<header class="header">
  <div class="header-container">
    <button type="button" class="header-button-menu">
      <svg class="header-menu-icon" width="24" height="24">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <nav class="header-nav">
      <ul class="header-ul">
        <li>
          <a href="#yoga-classes" class="nav-link-header current"
            >Yoga Classes</a
          >
        </li>
        <li><a href="#team" class="nav-link-header">Team</a></li>
        <li>
          <a href="#testimonials" class="nav-link-header">Testimonials</a>
        </li>
        <li><a href="#pricing" class="nav-link-header">Pricing</a></li>
        <li><a href="#contacts" class="nav-link-header">Contacts</a></li>
      </ul>
    </nav>
    <svg class="header-logo" width="84" height="36">
      <use href="/img/icons.svg#icon-logo"></use>
    </svg>
    <div class="header-btm-nav">
      <a href="#pricing" class="my-button"
        >Join <span class="my-button-span">Now</span></a
      >
    </div>
  </div>

  <!-- mobile -->

  <div class="modal-backdrop">
    <div class="modal-div">
      <div class="header-modal">
        <button type="button" class="modal-close-btn">
          <svg class="modal-close-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>

        <a href="/index.html" class="header-logo-link">
          <svg class="header-logo" width="84" height="36">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>

        <div>
          <a href="#pricing" class="my-button"
            >Join<span class="my-button-span">Now</span>
          </a>
        </div>
      </div>
      <nav class="header-nav-modal">
        <ul>
          <li>
            <a href="#yoga-classes" class="nav-link-modal current"
              >Yoga Classes</a
            >
          </li>
          <li><a href="#team" class="nav-link-modal">Team</a></li>
          <li>
            <a href="#testimonials" class="nav-link-modal">Testimonials</a>
          </li>
          <li><a href="#pricing" class="nav-link-modal">Pricing</a></li>
          <li><a href="#contacts" class="nav-link-modal">Contacts</a></li>
        </ul>
        <div class="header-button-pricing">
          <a href="#pricing" class="my-button-modal">Join Now</a>
        </div>
      </nav>
    </div>
  </div>
</header>
