<div class="modal-overlay" data-modal="1">
  <div class="modal">
    <button data-menu-close class="close-btn">×</button>
    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-text">One Session</p>
    <div class="price">$10</div>
    <form>
      <div class="form-row">
        <label class="form-label" for="modal-1session-name">Your Name</label>
        <input
          class="form-input"
          type="text"
          id="modal-1session-name"
          placeholder="Placeholder"
        />
      </div>
      <div class="form-grid">
        <div class="form-row">
          <label class="form-label" for="modal-1session-email">Email</label>
          <input
            class="form-input"
            type="email"
            id="modal-1session-email"
            placeholder="Placeholder"
          />
        </div>
        <div class="form-row">
          <label class="form-label" for="modal-1session-phone"
            >Phone number</label
          >
          <input
            class="form-input"
            type="tel"
            id="modal-1session-phone"
            placeholder="Placeholder"
            required
          />
        </div>
      </div>
      <button type="button" class="btn">Go to checkout</button>
    </form>
  </div>
</div>

<div class="modal-overlay" data-modal="8">
  <div class="modal">
    <button data-menu-close class="close-btn">×</button>
    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-text">8 Sessions Package</p>
    <div class="price">$65</div>
    <form>
      <div class="form-row">
        <label class="form-label" for="modal-8sessions-name">Your Name</label>
        <input
          class="form-input"
          type="text"
          id="modal-8sessions-name"
          placeholder="Placeholder"
        />
      </div>
      <div class="form-grid">
        <div class="form-row">
          <label class="form-label" for="modal-8sessions-email">Email</label>
          <input
            class="form-input"
            type="email"
            id="modal-8sessions-email"
            placeholder="Placeholder"
          />
        </div>
        <div class="form-row">
          <label class="form-label" for="modal-8sessions-phone"
            >Phone number</label
          >
          <input
            class="form-input"
            type="tel"
            id="modal-8sessions-phone"
            placeholder="Placeholder"
            required
          />
        </div>
      </div>
      <button type="button" class="btn">Go to checkout</button>
    </form>
  </div>
</div>

<div class="modal-overlay" data-modal="12">
  <div class="modal">
    <button data-menu-close class="close-btn">×</button>
    <h2 class="modal-title">Join Now!</h2>
    <p class="modal-text">12 Sessions Package</p>
    <div class="price">$80</div>
    <form>
      <div class="form-row">
        <label class="form-label" for="modal-12sessions-name">Your Name</label>
        <input
          class="form-input"
          type="text"
          id="modal-12sessions-name"
          placeholder="Placeholder"
        />
      </div>
      <div class="form-grid">
        <div class="form-row">
          <label class="form-label" for="modal-12sessions-email">Email</label>
          <input
            class="form-input"
            type="email"
            id="modal-12sessions-email"
            placeholder="Placeholder"
          />
        </div>
        <div class="form-row">
          <label class="form-label" for="modal-12sessions-phone"
            >Phone number</label
          >
          <input
            class="form-input"
            type="tel"
            id="modal-12sessions-phone"
            placeholder="Placeholder"
            required
          />
        </div>
      </div>
      <button type="button" class="btn">Go to checkout</button>
    </form>
  </div>
</div>
