<section class="team" id="team">
  <div class="container">
    <h3 class="team-text-top">Meet</h3>
    <h2 class="team-title">Our Team</h2>
    <h4 class="team-text">
      Dedicated professionals passionate about yoga and wellness.
    </h4>
    <ul class="team-list">
      <li class="team-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/team/desk/liamjohnson-desk1x.png 1x,
              /img/team/desk/liamjohnson-desk2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/team/tab/liamjohnson-tab1x.png 1x,
              /img/team/tab/liamjohnson-tab2x.png 2x
            "
          />
          <source
            media="(max-width: 375px)"
            srcset="
              /img/team/mob/liamjohnson1x.png 1x,
              /img/team/mob/liamjohnson2x.png 2x
            "
          />
          <img
            src="/img/team/desk/liamjohnson-desk1x.png"
            alt="Liam Johnson"
            class="team-image"
          />
        </picture>
        <div class="team-card-content">
          <h3 class="team-subtitle">Liam Johnson</h3>

          <h4 class="team-text-name">Yoga Instructor</h4>

          <p class="team-text-p">
            Emma has over 10 years of experience in Hatha and Vinyasa yoga.
          </p>

          <ul class="team-list-icons">
            <li class="team-item-icons">
              <a
                class="team-soc-link"
                href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="icon-soc" width="24" height="24">
                  <use href="/img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>

            <li class="team-item-icons">
              <a
                class="team-soc-link"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="icon-soc" width="24" height="24">
                  <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/team/desk/emmastone-desk1x.png 1x,
              /img/team/desk/emmastone-desk2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/team/tab/emmastone-tab1x.png 1x,
              /img/team/tab/emmastone-tab2x.png 2x
            "
          />
          <source
            media="(max-width: 375px)"
            srcset="
              /img/team/mob/emmastone1x.png 1x,
              /img/team/mob/emmastone2x.png 2x
            "
          />
          <img
            src="/img/team/desk/emmastone-desk1x.png"
            alt="Emma Stone"
            class="team-image"
          />
        </picture>
        <div class="team-card-content">
          <h3 class="team-subtitle">Emma Stone</h3>

          <h4 class="team-text-name">Meditation Coach</h4>

          <p class="team-text-p">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>

          <ul class="team-list-icons">
            <li class="team-item-icons">
              <a
                class="team-soc-link"
                href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="icon-soc" width="24" height="24">
                  <use href="/img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/team/desk/sophialee-desk1x.png 1x,
              /img/team/desk/sophialee-desk2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/team/tab/sophialee-tab1x.png 1x,
              /img/team/tab/sophialee-tab2x.png 2x
            "
          />
          <source
            media="(max-width: 375px)"
            srcset="
              /img/team/mob/sophialee1x.png 1x,
              /img/team/mob/sophialee2x.png 2x
            "
          />
          <img
            src="/img/team/desk/sophialee-desk1x.png"
            alt="Sophia Lee"
            class="team-image"
          />
        </picture>
        <div class="team-card-content">
          <h3 class="team-subtitle">Sophia Lee</h3>

          <h4 class="team-text-name">Pilates Trainer</h4>

          <p class="team-text-p">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>

          <ul class="team-list-icons">
            <li class="team-item-icons">
              <a
                class="team-soc-link"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="icon-soc" width="24" height="24">
                  <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/team/desk/noahbrown-desk1x.png 1x,
              /img/team/desk/noahbrown-desk2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/team/tab/noahbrown-tab1x.png 1x,
              /img/team/tab/noahbrown-tab2x.png 2x
            "
          />
          <source
            media="(max-width: 375px)"
            srcset="
              /img/team/mob/noahbrown1x.png 1x,
              /img/team/mob/noahbrown2x.png 2x
            "
          />
          <img
            src="/img/team/desk/noahbrown-desk1x.png"
            alt="Noah Brown"
            class="team-image"
          />
        </picture>
        <div class="team-card-content">
          <h3 class="team-subtitle">Noah Brown</h3>

          <h4 class="team-text-name">Yoga Therapist</h4>

          <p class="team-text-p">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>

          <ul class="team-list-icons">
            <li class="team-item-icons">
              <a
                class="team-soc-link"
                href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="icon-soc" width="24" height="24">
                  <use href="/img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/team/desk/avagreen-desk1x.png 1x,
              /img/team/desk/avagreen-desk2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/team/tab/avagreen-tab1x.png 1x,
              /img/team/tab/avagreen-tab2x.png 2x
            "
          />
          <source
            media="(max-width: 375px)"
            srcset="
              /img/team/mob/avagreen1x.png 1x,
              /img/team/mob/avagreen2x.png 2x
            "
          />
          <img
            src="/img/team/desk/avagreen-desk1x.png"
            alt="Ava Green"
            class="team-image"
          />
        </picture>
        <div class="team-card-content">
          <h3 class="team-subtitle">Ava Green</h3>

          <h4 class="team-text-name">Fitness Trainer</h4>

          <p class="team-text-p">
            Ava integrates strength training with yoga to promote overall
            fitness.
          </p>

          <ul class="team-list-icons">
            <li class="team-item-icons">
              <a
                class="team-soc-link"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="icon-soc" width="24" height="24">
                  <use href="/img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-item-icons">
              <a
                class="team-soc-link"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="icon-soc" width="24" height="24">
                  <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="team-item-icons">
              <a
                class="team-soc-link"
                href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="icon-soc" width="24" height="24">
                  <use href="/img/icons.svg#icon-linkedIn"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="team-item">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/team/desk/clarkthomas-desk1x.png 1x,
              /img/team/desk/clarkthomas-desk2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/team/tab/clarkthomas-tab1x.png 1x,
              /img/team/tab/clarkthomas-tab2x.png 2x
            "
          />
          <source
            media="(max-width: 375px)"
            srcset="
              /img/team/mob/clarkthomas1x.png 1x,
              /img/team/mob/clarkthomas2x.png 2x
            "
          />
          <img
            src="/img/team/desk/clarkthomas-desk1x.png"
            alt="Clark Thomas"
            class="team-image"
          />
        </picture>
        <div class="team-card-content">
          <h3 class="team-subtitle">Clark Thomas</h3>

          <h4 class="team-text-name">Fitness Trainer</h4>

          <p class="team-text-p">
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          <ul class="team-list-icons">
            <li class="team-item-icons">
              <a
                class="team-soc-link"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="icon-soc" width="24" height="24">
                  <use href="/img/icons.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="team-item-icons">
              <a
                class="team-soc-link"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener noreferrer"
              >
                <svg class="icon-soc" width="24" height="24">
                  <use href="/img/icons.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
