<section class="yoga-classes" id="yoga-classes">
  <div class="container yoga-container">
    <div class="yoga-section">
      <p class="yoga-txt">Explore</p>
      <div class="yoga-content">
        <h2 class="yoga-title-mob">Discover Our Most Popular Yoga Programs</h2>
        <h2 class="yoga-title-tab">Transform Your Life with Our Yoga Clases</h2>
        <p class="yoga-text">
          Join our community and elevate your practice with our expertly
          designed yoga programs. Each course is tailored to meet various skill
          levels and personal goals.
        </p>
      </div>
    </div>
    <ul class="yoga-list">
      <li class="yoga-list-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/yoga-classes/Yogaclas-desc1-min.jpg    1x,
              /img/yoga-classes/Yogaclas-desc1@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/yoga-classes/Yogaclas-tab1-min.jpg    1x,
              /img/yoga-classes/Yogaclas-tab1@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/yoga-classes/Yogaclas-mob1-min.jpg    1x,
              /img/yoga-classes/Yogaclas-mob1@2x-min.jpg 2x
            "
          />
          <img
            class="yoga-foto"
            src="/img/yoga-classes/Yogaclas-desc1-min.jpg"
            alt="Beginner Yoga"
          />
        </picture>
        <div class="yoga-div">
          <h3 class="yoga-div-title-mob">
            Beginner Yoga: Foundations for New Practitioners
          </h3>
          <h3 class="yoga-div-title">Beginner Yoga: Foundations</h3>
          <p class="yoga-list-text">
            Learn the basics of yoga in a supportive environment.
          </p>
        </div>
      </li>
      <li class="yoga-list-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/yoga-classes/Yogaclas-desc1-min.jpg    1x,
              /img/yoga-classes/Yogaclas-desc2@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/yoga-classes/Yogaclas-tab2-min.jpg    1x,
              /img/yoga-classes/Yogaclas-tab2@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/yoga-classes/Yogaclas-mob2-min.jpg    1x,
              /img/yoga-classes/Yogaclas-mob2@2x-min.jpg 2x
            "
          />
          <img
            class="yoga-foto"
            src="/img/yoga-classes/Yogaclas-desc2-min.jpg"
            alt="Vinyasa Flow"
          />
        </picture>
        <div class="yoga-div">
          <h3 class="yoga-div-title-mob">
            Vinyasa Flow: Energize Your Body and Mind
          </h3>
          <h3 class="yoga-div-title">
            Vinyasa Flow: Energize Your Body and Mind
          </h3>
          <p class="yoga-list-text">
            Experience a dynamic sequence that connects breath and movement.
          </p>
        </div>
      </li>
      <li class="yoga-list-tab yoga-list-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="
              /img/yoga-classes/Yogaclas-desc3-min.jpg    1x,
              /img/yoga-classes/Yogaclas-desc3@2x-min.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/yoga-classes/Yogaclas-tab3-min.jpg    1x,
              /img/yoga-classes/Yogaclas-tab3@2x-min.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/yoga-classes/Yogaclas-mob3-min.jpg    1x,
              /img/yoga-classes/Yogaclas-mob3@2x-min.jpg 2x
            "
          />
          <img
            class="yoga-foto"
            src="/img/yoga-classes/Yogaclas-desc3-min.jpg"
            alt="Restorative"
          />
        </picture>
        <div class="yoga-div-tab yoga-div">
          <h3 class="yoga-div-title-mob">
            Restorative Yoga: Deep Relaxation and Healing
          </h3>
          <h3 class="yoga-div-title">
            Restorative Yoga: Deep Relaxation and Healing
          </h3>
          <p class="yoga-list-text">
            Unwind and rejuvenate with gentle poses and mindfulness.
          </p>
        </div>
      </li>
    </ul>
    <a class="yoga-batton-mob" href="#pricing">Join</a>
    <a class="yoga-batton" href="#pricing">Join now</a>
  </div>
</section>
