.footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #dfebeb;
}
.footer-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;

  border: 0px solid #f8fbfe;
  border-radius: 16px;
  padding: 32px;

  background-color: #f8fbfe;
}
.footer-logo {
}
.footer-logo-icon {
}
.footer-subscribe-form-text {
}
.footer-subscribe-form {
}
.footer-subscribe-form-btn {
}
.footer-privacy {
}
.footer-nav-header {
}
.footer-nav {
}
.footer-nav-item {
}
.footer-socials-header {
}
.footer-socials {
}
.footer-socials-item {
}
.footer-socials-item-icon {
}
.footer-socials-item-text {
}
.footer-copyright {
}
