.gallery {
    background-color: #f2fafa;
    padding: 64px 0;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

@media screen and (min-width: 768px) {
    .gallery {
        padding: 40px 0;
    }
}

@media screen and (min-width: 1336px) {
    .gallery {
        padding: 112px 0;
    }
}

.gallery_wrap {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media screen and (min-width: 768px) {
    .gallery_wrap {
        max-width: 704px;
    }
}

@media screen and (min-width: 1336px) {
    .gallery_wrap {
        max-width: 768px;
    }
}

.gallery_menu {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--second-family);
}

@media screen and (min-width: 768px) {
    .gallery_menu {
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 1336px) {
    .gallery_menu {
        font-size: 52px;
    }
}

.gallery_text {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    text-align: center;
    margin-bottom: 48px;
    font-family: var(--font-family);
    
}

@media screen and (min-width: 1336px) {
    .gallery_text {
        font-weight: 500;
    }
}

.gallery_list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 24px;
    justify-content: center;
}

@media screen and (min-width: 1336px) {
    .gallery_list {
        flex-wrap: wrap;
    }
}

.gallery_item {
    width: calc((100% - 24px) / 2);
    max-width: calc((100% - 24px) / 2);
}

@media screen and (min-width: 768px) {
    .gallery_item {
        width: calc((100% - 24px) / 2);
        max-width: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1336px) {
    .gallery_item {
        position: relative;
        width: calc((100% - 48px) / 3);
    }
}

.gallery_image {
    border-radius: 16px;
}