.header {
  background-color: #f2fafa;
  padding: 16px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 100;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  min-height: 56px;
}

.header-button-menu {
  display: block;
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
  line-height: 0;
}

.header-menu-icon {
  width: 24px;
  height: 24px;
  fill: #333;
  transition: fill 0.3s ease;
}

.header-nav {
  display: none;
}

.header-logo-link {
  display: block;
  line-height: 0;
}
.header-logo {
  display: block;
  width: 84px;
  height: 36px;
  fill: #333;
}

.my-button {
  background-color: #c2d9fc;
  color: #2e2f42;
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  padding: 4px 20px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  display: inline-block;
  text-align: center;
}

.my-button:hover,
.my-button:focus {
  background-color: rgba(13, 11, 10, 0.05);
  box-shadow: 0 4px 8px rgba(13, 11, 10, 0.05);
  outline: none;
  border-color: rgba(13, 11, 10, 0.05);
}

.my-button-span {
  display: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f2fafa;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 100;
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-backdrop.is-open {
  display: flex;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-backdrop.is-open .modal-div {
  transform: translateX(0);
}

.scroll-lock {
  overflow: hidden;
}

.modal-div {
  background-color: #f2fafa;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.modal-backdrop:not(.is-hiden) .modal-div {
  transform: translateX(0);
}
.header-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.modal-close-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  line-height: 0;
  margin-right: 20px;
}
.modal-close-icon {
  width: 24px;
  height: 24px;
  fill: #333;
  transition: fill 0.3s ease;
}
.modal-close-btn:hover .modal-close-icon {
  fill: #007bff;
}

.header-modal .header-logo {
  display: block;
  width: 84px;
  height: 36px;
  fill: #333;
  margin-right: 20px;
}

.header-modal .my-button {
  font-size: 16px;
}
.header-modal .my-button .my-button-span {
  display: none;
}

.header-nav-modal {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; 
    align-items: flex-start; */
  width: 100%;
}

.header-nav-modal ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.nav-link-modal {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
  display: block;
  padding: 5px 0;
}
.header-button-pricing {
  width: 100%;
  margin-top: 276px;
}

.my-button-modal {
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c2d9fc;
  color: #2e2f42;
  border: 1px solid #c2d9fc;
  border-radius: 100px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    box-shadow 0.3s ease;
  margin-top: auto;
}
.my-button-modal:hover,
.my-button-modal:focus {
  background-color: rgba(13, 11, 10, 0.05);
  box-shadow: 0 4px 8px rgba(13, 11, 10, 0.05);
  outline: none;
  border-color: rgba(13, 11, 10, 0.05);
}
/* Tablet */
@media screen and (min-width: 768px) {
  .my-button-modal {
    width: 204px;
  }

  .my-button-span {
    display: inline-block;
  }
  .header-modal .my-button .my-button-span {
    display: inline-block;
  }
}

/* Desktop */
@media screen and (min-width: 1336px) {
  .my-button {
    padding: 8px 20px;
  }
  .header-button-menu {
    display: none;
  }
  .header-container {
    padding: 0 40px;
    min-height: 72px;
  }
  .header-nav {
    display: flex;
    margin-right: 0;
    font-size: 16px;
    width: 400;
  }
  .header-ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .header-logo {
    position: absolute;
    transform: translateX(-50);
    margin: 0;
    left: 50%;
  }
  /* Navbar */
  .modal-backdrop {
    display: none;
  }
  .nav-link-header.current {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
  }
  .my-button-span {
    display: inline;
  }
  .header-btm-nav {
    display: flex;
  }
}
