/* --- Mobile-First --- */
.hero {
  position: relative;
  overflow: hidden;
  background-color: #F2FAFA;
}

.hero-img {
  display: block;
  width: 100%;
  height: auto;
}

.hero-container {
  font-family: 'Cabin', sans-serif;
  padding: 48px 16px;
}

.hero-title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0.01em;
}

.hero-paragraph {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

/* Стилізація кнопок */
.hero-list {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.anchor {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
  height: 46px;
  border: none;
  border-radius: 100px;
}

.anchor-link {
  background-color: #C2D9FC;
}

.anchor-link-secondary {
  background-color: rgba(13, 11, 10, 0.05);
}

/* --- Tablet --- */
@media screen and (min-width: 768px) and (max-width: 1335px) {
  .hero-container {
    padding: 24px 32px;
  }

  .hero-title {
    width: 450px;
    margin-bottom: 8px;
  }

  .hero-paragraph {
    width: 600px;
    margin-bottom: 32px;
    font-size: 18px;
  }

  .hero-list {
    flex-direction: row;
  }

  .anchor {
    width: 145px;
  }
}

/* --- Desktop --- */
@media screen and (min-width: 1336px) {
  .hero-container {
    display: flex;
    gap: 24px;
    padding: 80px 64px;
  }

  .hero-title {
    width: 50%;
    font-weight: 400;
    font-size: 72px;
    margin-bottom: 8px;
  }

  .hero-paragraph {
    width: 600px;
    padding-top: 8px;
    margin-bottom: 32px;
    font-size: 18px;
  }

  .hero-list {
    flex-direction: row;
  }

  .anchor {
    width: 145px;
  }
}
