/* ======= Mobile First ======= */
.testimonials {
  background: var(--Color-Scheme-3-Background, #f2fafa);
  justify-content: center;
  display: flex;
  align-items: center;
}

.testimonials-container {
  max-width: 375px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}
.section-title {
  width: 311px;
  height: 111px;
  margin: 64px auto 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.testimonials-title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 120%;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--Color-Scheme-4-Text, #0d0b0a);
  margin: 0;
}

.testimonials-subtitle {
  font-family: 'Sarabun', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  margin: 0;
  color: var(--Color-Scheme-4-Text, #0d0b0a);
}

.testimonials-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  align-items: center;
  box-sizing: border-box;
}

.testimonials-list-item {
  background: var(--Color-Scheme-2-Foreground, #dfebeb);
  padding: 24px 16px;
  border-radius: 12px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 32px;
  justify-content: space-between;
}
.testimonial-avatar {
  width: 300px;
  height: 125px;
}
.testimonials-list-item-text {
  font-family: 'Sarabun', sans-serif;
  font-size: 22px;
  line-height: 160%;
  margin-bottom: 24px;
  margin-top: 32px;
}
.testimonials-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
}
.testimonials-list-item-image {
  border-radius: 50%;
  margin-bottom: 16px;
  width: 56px;
  height: 56px;
  object-fit: cover;
}

.testimonials-list-item-title {
  font-family: 'Sarabun', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 4px;
  text-align: center;
}

.testimonials-list-item-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
}

/* ======= Tablet (≥768px) ======= */
@media screen and (min-width: 768px) {
  .testimonials-container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .section-title {
    width: 100%;
    height: 101px;
    margin: 40px auto 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    text-align: center;
  }
  .testimonials-title {
    font-size: 40px;
  }

  .testimonials-subtitle {
    font-size: 18px;
    line-height: 160%;
    margin: 0;
  }

  .testimonials-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    box-sizing: border-box;
  }

  .testimonials-list-item {
    flex-direction: column;
    display: flex;
    width: 100%;
    border-radius: 12px;
    max-width: 100%;
    margin: 0 auto;
    padding: 24px 16px;
    background: var(--Color-Scheme-2-Foreground, #dfebeb);
    box-sizing: border-box;
    text-align: center;
  }

  .testimonials-title,
  .testimonials-subtitle {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ======= Desktop (≥1336px) ======= */
@media screen and (min-width: 1336px) {
  .testimonials {
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .testimonials-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
  }
  .section-title {
    width: 768px;
    height: auto;
    margin: 112px auto 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
  }
  .testimonials-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 24px;
    max-width: 1312px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    box-sizing: border-box;
    align-items: stretch;
  }

  .testimonials-list-item {
    display: flex;
    width: 644px;
    min-height: 356px;
    height: 100%;
  }
  .testimonials-avatar {
    width: 300px;
    height: 127px;
  }
  .testimonial-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
