.yoga-classes {
    height: 1756px;
    background-color: #dfebeb;
    padding-bottom: 64px;
    padding-top: 64px;
}

.yoga-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;
}

.yoga-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 12px;
    max-width: 343px;
}

.yoga-txt {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #0d0b0a;
}

.yoga-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.yoga-title-mob {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
}

.yoga-title-tab {
    display: none;
}

.yoga-text,
.yoga-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: #0d0b0a
}

.yoga-list {
    height: 1182px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 48px;
    max-width: 343px;
}

.yoga-list-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
}

.yoga-foto {
    border-radius: 16px;
}

.yoga-div {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
}

.yoga-div-title-mob {
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: 0.01em;
    text-align: center;
    color: #0d0b0a;
}

.yoga-div-title {
    display: none;
}

.yoga-batton-mob {
    border: 1px solid #c2d9fc;
    border-radius: 100px;
    padding: 10px 24px;
    width: 343px;
    height: 46px;
    background-color: #c2d9fc;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #0d0b0a;
    text-align: center;
    display: block;
}

.yoga-batton {
    display: none;
}

@media only screen and (min-width: 768px) {
    .yoga-classes {
        height: 1158px;
        background-color: #f2fafa;
        padding-bottom: 40px;
        padding-top: 40px;
    }

    .yoga-container {
        gap: 40px;
    }

    .yoga-section {
        gap: 16px;
        max-width: 704px;
    }

    .yoga-content {
        gap: 24px;
    }

    .yoga-title-mob {
        display: none;
    }

    .yoga-title-tab {
        display: block;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.2;
        letter-spacing: 0.01em;
        text-align: center;
        color: #0d0b0a;
    }

    .yoga-text {
        font-size: 18px;
    }

    .yoga-list {
        height: 782px;
        row-gap: 27px;
        column-gap: 24px;
        max-width: 704px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }

    .yoga-list-item {
        gap: 16px;
        width: 340px;
        height: 376px;
    }

    .yoga-list-tab {
        width: 704px;
        height: 358px;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 16px;
    }

    .yoga-div {
        height: 120px;
        gap: 0;
    }

    .yoga-div-tab {
        width: 704px
    }

    .yoga-div-title-mob {
        display: none;
    }

    .yoga-div-title {
        display: block;
        font-weight: 400;
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: 0.01em;
        text-align: center;
        color: #0d0b0a;
    }

    .yoga-batton {
        display: block;
        border: 1px solid #c2d9fc;
        border-radius: 100px;
        padding: 8px 20px;
        width: 110px;
        height: 46px;
        background-color: #c2d9fc;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        color: #0d0b0a;
        text-align: center;
    }

    .yoga-batton-mob {
        display: none;
    }
}

@media only screen and (min-width: 1336px) {
    .yoga-classes {
        width: 1440px;
        height: 1044px;
        padding-bottom: 112px;
        padding-top: 112px;
    }

    .yoga-section {
        max-width: 768px;
    }

    .yoga-title-mob {
        display: block;
        font-size: 52px;
    }

    .yoga-title-tab {
        display: none;
    }

    .yoga-list-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.6;
        text-align: center;
        color: #0d0b0a;
    }

    .yoga-list {
        height: 448px;
        flex-wrap: nowrap;
        gap: 24px;
        max-width: 1312px;
    }

    .yoga-list-item {
        flex-direction: column;
        gap: 32px;
        width: 421px;
        height: 448px;
    }

    .yoga-foto {
        height: 240px;
    }

    .yoga-div {
        height: 176px;
        gap: 24px;
    }

    .yoga-div-tab {
        width: 421px
    }

    .yoga-div-title {
        font-size: 36px;
    }

    .yoga-div-title-mob {
        display: none;
    }

    .yoga-batton-mob {
        border: 1px solid #c2d9fc;
        border-radius: 100px;
        padding: 10px 24px;
        width: 343px;
        height: 46px;
        background-color: #c2d9fc;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        color: #0d0b0a;
        text-align: center;
        display: block;
    }

    .yoga-batton-mob {
        display: none;
    }
}